<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jeopardy!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src = "{{ url_for('static', filename='main.js')}}" ></script>
    <link rel="stylesheet" href="{{ url_for('static', filename="styles.css") }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

</head>
<body>
    <div class='full'>

        <table id="gametable">
            <tr>
                {% for cat in all_games[gamename]["categories"] %}
                    <th> {{ cat }} </th>
                {% endfor %}
            </tr>

            {% for qu_row in all_games[gamename]["board"] %}
                <tr>
                    {% for qu_cell in qu_row %}
                        {% if qu_cell != "NULL" %}
                            {% if qu_cell[3] %}
                                <td class='answered' onclick="goToQuestion('{{ gamename }}', '{{ qu_cell[5] }}', '{{ qu_cell[4] }}')"> {{ qu_cell[2] }}</td>
                            {% else %}
                                <td class='unanswered' onclick="goToQuestion('{{ gamename }}', '{{ qu_cell[5] }}', '{{ qu_cell[4] }}')"> {{ qu_cell[2] }}</td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    
    <a class='nextpage' href="/fq/{{ gamename }}">Final Jeopardy</a>
</body>
</html>