<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jeopardy!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src = "{{ url_for('static', filename='main.js')}}" ></script>
    <link rel="stylesheet" href="{{ url_for('static', filename="styles.css") }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
    <div class='full'>
        {{ question }}
    </div>

    <a class='nextpage' href="/a/{{ gamename }}/{{ cat_id }}/{{ key }}">To Answer</button>
</body>
</html>